<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.uptoskills">

    <uses-permission android:name="android.permission.INTERNET " />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GetWork">
        <activity
            android:name=".ResumeInputActivity"
            android:exported="true" >



        </activity>
        <activity
            android:name=".PaidCourseViewActivity"
            android:exported="true" />
        <activity
            android:name=".EventViewActivity"
            android:exported="true" />
        <activity
            android:name=".TermsAndConditionActivity"
            android:exported="true" />
        <activity android:name=".CourseVideoActivity" />
        <activity android:name=".MyJobsActivity" />
        <activity android:name=".BookmarkActivity" />
        <activity android:name=".CertificateActivity" />
        <activity android:name=".CourseEnquiryActivity" />
        <activity android:name=".JobViewActivity" />
        <activity
            android:name=".MyCourseActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".CourseViewActivity" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserDetailsActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".BlogViewActivity" />
        <activity
            android:name=".CreateAccountActivity"
            android:parentActivityName=".SignUpActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".OnBoardingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_F0iAWBwH6yyKb9" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>